/**
 * Try Automator menu item
 */

.ult-sidebar-featured-item-container,
.ult-sidebar-featured-item-container:hover,
.ult-sidebar-featured-item-container:focus,
.ult-sidebar-featured-item-container:active {
	background: #232323 !important;
}

.ult-sidebar-featured-item {
	color: #fff;

	display: block;

	padding-top: 2px;
	padding-bottom: 2px;
}

	.ult-sidebar-featured-item__text {
		margin-right: 5px;
	}

	.ult-sidebar-featured-item__tag {
		background: #6ac45a;
		color: #fff;
		font-size: 11px;
		font-weight: 600;
		line-height: 1;

		padding: 1px 4px;
		border-radius: 150px;
	}
