.ult-form-field__header {
	display: flex;
}

	.ult-form-field__label-container {
		flex: 1 1 auto;
	}

		.ult-form-field__label {
			color: #404040;
		}

	.ult-form-field__actions {
		flex: 0 0 auto;
	}

		.ult-form-field__action {
			font-size: 14px;
			color: $primary_color;
			text-decoration: none;
		}