/**
 * Text input
 */

.ult-form__input,
.ult-form__container input[type="text"],
.ult-form__container input[type="password"] {
	width: 100%;
	font-size: inherit;
	font-family: inherit;
	outline: none;
	padding: 8px 10px;
	margin-top: 8px;
	line-height: 1.3;
	color: #404040;
	background: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.1);
	border: 1px solid #c1c5c8;
	border-radius: 3px;
	transition: border 150ms ease-in-out, box-shadow 150ms ease-in-out;
}

.ult-form__field > .ult-form__input {
	margin-top: 0 !important;
}

	.ult-form__input:hover,
	.ult-form__container input[type="text"]:hover,
	.ult-form__container input[type="password"]:hover {
		border-color: #b1b5b7;
	}

	.ult-form__input:focus,
	.ult-form__container input[type="text"]:focus,
	.ult-form__container input[type="password"]:focus {
		border-color: $primary_color;
		box-shadow: 0 0 0 0.2rem rgba( $primary_color, .2 );
	}