$fontFamily: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
$gray: #737373;

.uo-ult-toolkit-content {
	font-family: $fontFamily;
	font-size: 15px;

	padding: 10px 15px;
    border: 1px solid #d8d8d8;
    background: #fff;

    font-size: 18px;
    color: $gray;
}