/*****************************/
/*** - Activator Screen - ***/
/***************************/

.toplevel_page_uncanny-learnDash-toolkit div#wpcontent {
	/*background: white;*/
}

.ad-pro-toolkit {
	background: #fff;
	margin-bottom: 30px;
	padding: 15px 20px;
	border-left: 4px solid #46b450;
}

.ad-pro-toolkit.uo-wrap .page-title-action {
	float: right;
	margin-top: 10px;
	font-size: 16px;
}

.uo-wrap .page-title-action {
	margin-left: 4px;
	padding: 4px 8px;
	position: relative;
	top: -3px;
	text-decoration: none;
	border: none;
	border: 1px solid #ccc;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #f7f7f7;
	text-shadow: none;
	font-weight: 600;
	font-size: 13px;
	line-height: normal;
	color: #0073aa;
	cursor: pointer;
	outline: 0;
}

.ad-pro-toolkit p, .ad-pro-toolkit li {
	margin: 0;
	line-height: normal;
}

.ad-pro-toolkit .list {
	-webkit-columns: 3;
	-moz-columns: 3;
	columns: 3;
}

@media (max-width: 1024px) {
	.ad-pro-toolkit .list {
		-webkit-columns: 2;
		-moz-columns: 2;
		columns: 2;
	}
}

@media (max-width: 767px) {
	.ad-pro-toolkit .list {
		-webkit-columns: 1;
		-moz-columns: 1;
		columns: 1;
	}
}

.dynamic-ad-toolkit {
	background: #fff;
	border-left: 4px solid #000;
	margin-top: 5px;
	padding: 10px 20px;
}

.ad-pro-toolkit h2 {
	font-size: 20px;
	font-weight: normal;
	margin: 5px 0 10px 0;
	line-height: normal;
}

.uo-admin-header p {
	color: #4b4b4b;
	font-size: 13px;
	font-weight: 600;
}

.uo-admin-header p a {
	color: #13abec;
	font-size: 14px;
}

/* Icon in sidebar menu*/
#adminmenu .current .toplevel_page_uncanny-learnDash-toolkit .wp-menu-image img {
	opacity: 1;
}

/* Admin Header Container */
.uo-admin-header {
	margin-bottom: 20px;
	width: 98%;
}

.uo-admin-header a:focus, .uo-admin-header img:focus {
	box-shadow: none;
}

/* Heading hr underline*/
hr.uo-underline {
	border-bottom: 1px solid #fea639;
	border-top: 1px solid #dcdcdc;
}

@media only screen and (min-width: 1024px) {
	hr.uo-underline {
		margin-right: 7%;
	}

	.uo-admin-header p {
		margin-right: 7%;
	}

	.ad-pro-toolkit {
		margin-right: 7%;
	}

	.dynamic-ad-toolkit {
		margin-right: 7%;
	}
}

/* Feature Container*/
.uo_feature_container #features {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.uo_feature {
	background: white;
	border: 1px solid #d1d1d1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	display: inline-table;
	height: 215px;
	margin-bottom: 50px;
	margin-right: 4%;
	padding: 20px;
	position: relative;
	transition: background-color 0.1s ease-in;
	-webkit-transition: background-color 0.1s ease-in;
	transition-delay: 0.1s; /* Safari */
	-webkit-transition-delay: 0.1s;
	width: 87%; /* Safari */
}

#features.list-view {
	width: 93%;
	float: left;
	display: block;
}

#features.list-view .uo_feature {
	width: 100%;
	margin-right: 0;
	height: auto;
	box-sizing: border-box;
	padding-right: 120px;
	padding-bottom: 20px;
	margin-bottom: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
}

#features.list-view .uo_feature {
	margin-left: 5px !important;
}

#features.list-view .uo_feature:not(:last-child) {
	border-bottom: 0;
}

#features.list-view .uo_feature .uo_icon_container {
	display: none;
}

#features.list-view .uo_feature .uo_feature_button {
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}

#features.list-view .uo_feature[data-type='pro'] .uo_feature_title .uo_feature_more_info {
	margin-right: 10px;
}

#features.list-view .uo_feature[data-type='pro'] .uo_feature_title:after {
	content: 'Pro Module';
	color: #fff;
	padding: 1px 10px;
	background: #0073aa;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-ms-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	font-size: 12px;
	white-space: nowrap;
}

#features.list-view .uo_feature_description {
	padding-top: 5px;
}

#features.list-view .uo_feature_title {
	font-size: 1.3em;
	font-weight: 600;
}

.switcher_content {
	width: 100%;
}

.switcher_content:after {
	content: '';
	display: table;
	clear: both;
}

.switcher_content .switch-view {
	float: left;
	border: 1px solid #b1b1b1;
	color: #5b5b5b;
	background: #fff;
	margin-bottom: 10px;
	cursor: pointer;
}

.switcher_content .switch-view .switch-btn {
	float: left;
	padding: 5px 12px;
	font-size: 16px;
}

.switcher_content .switch-view .switch-btn.selected {
	background: #0073aa;
	color: #fff;
	font-weight: 600;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.uo_feature {
		margin-left: 3%;
		margin-right: 3%;
		width: 38%;
	}
}

@media only screen and (max-width: 768px) {
	.uo_feature {
		margin-left: 5%;
		margin-right: 5%;
		padding: 3%;
		width: 80%;
	}

	.uo_feature_title {
		margin-right: 10px;
	}
}

@media only screen and (max-width: 480px) {
	.uo_settings {
		max-width: 80%;
	}

	.uo_settings_header {
		line-height: 1.5em;
		/*padding: 20px;*/
	}

	.uo_feature {
		height: 225px;
	}
}

@media only screen and (min-width: 1024px) and (max-width: 1599px) {
	.uo_feature {
		width: 25%;
	}

	.uo_feature:nth-child(3n+0) {
		margin-right: 0;
	}
}

@media only screen and (min-width: 1600px) {
	.uo_feature {
		width: 18.5%;
	}

	.uo_feature:nth-child(4n+0) {
		margin-right: 0;
	}
}

/* Feature Title*/
.uo_feature_title {
	font-size: 1.5em;
	line-height: 1.4em;
}

/* Feature link to KB*/
.uo_feature_more_info {
	color: #9a9a9a;
	padding-left: 7px;
	transition: color 0.1s ease-in;
	-webkit-transition: color 0.1s ease-in; /* Safari */
	transition-delay: 0.1s;
	-webkit-transition-delay: 0.1s; /* Safari */
}

.uo_feature_more_info:focus {
	box-shadow: none;
	color: #9a9a9a;
	webkit-box-shadow: none;
}

.uo_feature_more_info:hover {
	color: #414141
}

/* Feature Description*/
.uo_feature_description {
	padding-top: 15px;
}

/* Icon Container*/
.uo_icon_container {
	background: #0073aa;
	border-radius: 10px 0;
	bottom: -10px;
	height: 60px;
	left: -10px;
	position: absolute;
	width: 60px;
	z-index: 20;
}

.uo_icon {
	border: 2px solid white;
	height: 28px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 28px;
}

.uo_icon_text {
	color: white;
	display: block;
	font-size: 27px;
	font-weight: bold;
	letter-spacing: 2px;
	margin-top: 20px;
	text-align: center;
}

.uo_icon_dashicon {
	color: white;
	font-size: 36px;
	padding-left: 11px;
	padding-top: 10px;
}

.uo_icon_fa {
	color: white;
	font-size: 35px !important;
	padding-left: 13px;
	padding-top: 13px;
}

.uo_icon_pro_fa {
	font-size: 28px !important;
	padding-left: 16px;
	padding-top: 9px;
}

.uo_pro_text {
	bottom: 3px;
	color: #fff;
	/*font-family: "Open Sans";*/
	font-size: 14px;
	font-weight: 600;
	left: 15px;
	position: absolute;
}

/* Message if class needs dependants */
.uo_feature_button.uo_feature_needs_dependants {
	bottom: -3px;
	height: 53px;
	line-height: 16px;
	right: 0;
	width: 100%;
	z-index: 10;
}

.uo_feature_needs_dependants div {
	border-top: 2px solid #fea639;
	padding: 0 0 0 55px;
}

/* Container of ON/OFF Toggle Switch */
.uo_feature_button {
	bottom: 7px;
	cursor: pointer;
	height: 35px;
	position: absolute;
	right: 5px;
	width: 75px;
}

/* ON/OFF Toggle Switch */
.uo_feature_button_toggle {
	background: white;
	height: 25px;
	margin-top: 5px;
	width: 30px;
}

/* Actual Checkbox that WP Options data is pulled from */
.uo_feature_checkbox, .uo_feature_label {
	display: none !important;
	left: 10000px;
	position: absolute;
}

/* Activated ON/OFF Toggle Switch*/
.uo_feature_activated {
	background: #26a926;
}

.uo_feature_activated .uo_feature_button_toggle {
	margin-left: 42px;
}

.uo_feature_activated .uo_feature_button_toggle:after {
	color: white;
	content: 'ON';
	font-size: 16px;
	font-weight: bolder;
	line-height: 24px;
	margin-left: -35px;

}

#filter select {
	background: #0073aa;
	border-bottom-style: solid;
	border-bottom-width: 4px;
	border-color: #065981;
	border-left: 0;
	border-radius: 5px;
	border-right: 0;
	color: #fff;
	font-weight: 500;
	height: auto;
	margin-right: 10px;
	padding: 3px 12px 3px 12px;
}

@media only screen and (max-width: 768px) {
	#filter select {
		display: block;
		margin-bottom: 10px;
		width: 100%;
	}
}

/* De-activated ON/OFF Toggle Switch*/
.uo_feature_deactivated {
	background: #b93232;
}

.uo_feature_deactivated .uo_feature_button_toggle {
	margin-left: 6px;
}

.uo_feature_deactivated .uo_feature_button_toggle:before {
	color: white;
	content: 'OFF';
	font-size: 16px;
	font-weight: bolder;
	line-height: 24px;
	padding-left: 35px;
}

/* Settings*/
.uo_settings_link .dashicons {
	background: #0073aa;
	border-radius: 5px;
	color: #fff;
	font-size: 25px;
	height: 30px;
	padding: 6px 5px 0;
	position: absolute;
	right: -20px;
	text-decoration: none;
	top: 10px;
	transition: background-color 0.05s ease-in;
	-webkit-transition: background-color 0.05s ease-in; /* Safari */
	transition-delay: 0.05s;
	-webkit-transition-delay: 0.05s; /* Safari */
	width: 30px;
}

.uo_settings_link .dashicons:hover {
	background-color: #929699;
}

#lean_overlay {
	background: #000;
	display: none;
	height: 100%;
	left: 0px;
	position: fixed;
	top: 0px;
	width: 100%;
	z-index: 100;
}

.uo_settings {
	background: #fff;
	border-bottom: 6px solid #32373c;
	bottom: 10px;
	display: none;
	max-width: 800px;
	min-width: 300px;
	overflow-y: auto;
	padding-bottom: 20px;
	width: 95%;
	height: 80%;
	max-height: 600px;
}

.uo_settings_header {
	background: #c9c9c9;
	margin-bottom: 20px;
}

.uo_settings_header h2 {
	background-color: #0073aa;
	color: white;
	font-size: 23px;
	line-height: 63px;
	margin: 0;
	padding-left: 20px;
}

.uo_settings_single {
	padding: 10px 20px;
}

.uo_settings_single .uo_settings_label {
	border-bottom: 1px solid #dfdfdf;
	display: inline-block;
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 6px;
	padding-right: 5%;
	vertical-align: top;
	width: 35%;
}

.uo_settings_single .uo_settings_input {
	display: inline-block;
	margin-left: 2%;
	width: 55%;
}

.uo_settings_single .uo_settings_input br {
	line-height: 3em;
}

input.uo_settings_form_field[type='text'] {
	width: 100%;
}

textarea.uo_settings_form_field {
	width: 100%;
}

select.uo_settings_form_field {
	width: 99%;
}

input[type=radio].uo_settings_form_field {
	margin-right: 12px;
}

.uo_settings_single span {
	font-size: 15px;
	font-weight: bold;
	margin-right: 10px;
}

.uo_settings_single ul li {
	display: inline-block;
	float: left;
	width: 50%;
}

.uo_save_settings {
	background: #529bbe;
	border: none;
	clear: both;
	color: white;
	cursor: pointer;
	float: right;
	font-size: 16px;
	font-weight: bold;
	margin-right: 43px;
	padding: 9px 32px;
	transition: background-color 0.1s ease-in; /* Safari */
	-webkit-transition: background-color 0.1s ease-in;
	transition-delay: 0.1s; /* Safari */
	-webkit-transition-delay: 0.1s;
}

.uo_save_settings:hover {
	background: #035278;
}

@media (max-width: 400px) {
	.uo_settings_single {
		max-width: 250px;
	}

	.uo_settings_single .uo_settings_label {
		display: block;
		width: 100%;
	}

	.uo_settings_single .uo_settings_input,
	.uo_settings_single .uo_settings_input textarea {
		margin-left: 0;
		margin-top: 10px;
		width: 100%;
	}

	.uo_settings_options {
		height: auto;
		max-height: 500px;
		overflow: scroll;
	}

	.uo_settings_single ul li {
		display: block;
		width: 100%;
	}

	.uo_settings_header h2 {
		line-height: 1.2em;
		padding: 15px 15px;
		text-align: center;
	}

	.uo_settings_single.uo-additional-information div {
		margin-top: 0 !important;
	}

	.uo_settings_input br {
		line-height: 4em;
	}
}

/* LOADING SPINNER FROM: http://tobiasahlin.com/spinkit/ */
.sk-folding-cube {
	background: white;
	height: 40px;
	margin: 60px auto;
	position: relative;
	transform: rotateZ(45deg);
	-webkit-transform: rotateZ(45deg);
	width: 40px;
}

.sk-folding-cube .sk-cube {
	float: left;
	height: 50%;
	position: relative;
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	width: 50%;
}

.sk-folding-cube .sk-cube:before {
	animation: sk-foldCubeAngle 2.4s infinite linear both;
	-webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
	background-color: #00a2e8;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-webkit-transform-origin: 100% 100%;
	width: 100%;
}

.sk-folding-cube .sk-cube2 {
	transform: scale(1.1) rotateZ(90deg);
	-webkit-transform: scale(1.1) rotateZ(90deg);
}

.sk-folding-cube .sk-cube3 {
	transform: scale(1.1) rotateZ(180deg);
	-webkit-transform: scale(1.1) rotateZ(180deg);
}

.sk-folding-cube .sk-cube4 {
	transform: scale(1.1) rotateZ(270deg);
	-webkit-transform: scale(1.1) rotateZ(270deg);
}

.sk-folding-cube .sk-cube2:before {
	animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}

.sk-folding-cube .sk-cube3:before {
	animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

.sk-folding-cube .sk-cube4:before {
	animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}

@-webkit-keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

@keyframes sk-foldCubeAngle {
	0%, 10% {
		-webkit-transform: perspective(140px) rotateX(-180deg);
		transform: perspective(140px) rotateX(-180deg);
		opacity: 0;
	}
	25%, 75% {
		-webkit-transform: perspective(140px) rotateX(0deg);
		transform: perspective(140px) rotateX(0deg);
		opacity: 1;
	}
	90%, 100% {
		-webkit-transform: perspective(140px) rotateY(180deg);
		transform: perspective(140px) rotateY(180deg);
		opacity: 0;
	}
}

.module_activated,
.module_deactivated {
	display: none;
	font-size: 18px;
	/*font-weight: bold;*/
	left: 50%;
	margin-left: -200px;
	margin-top: -20px;
	padding: 13px 25px;
	position: fixed;
	top: 50%;
	width: auto;
	z-index: 99;
	border-radius: 5px;
}

.module_activated i,
.module_deactivated i {
	font-size: 18px;
	margin-right: 8px;
}

.module_activated, .module_deactivated {
	background: #dff2bf;
	border: 1px #4f8a10 solid;
	color: #4f8a10;
}

.module_fail {
	background: #ffbaba;
	border: 1px #d8000c solid;
	color: #d8000c;
}

.uo-filters {

}

.uo-filters li {
	display: inline-block;
	margin-right: 15px;
}

.uo-filters li label {
	display: block;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 5px;
}

.uo_feature:hover {
	background: #f6f6f6;
}

.new-module {
	background: #46b450;
	color: white;
	margin-left: 3px;
	padding: 0 3px 2px 3px;
	font-weight: bold;
}
